name: ci
run-name: CI for ${{ github.sha }} on ${{ github.ref_name }}

on:
   workflow_dispatch:
   workflow_call:
   push:
     branches:
     - "main"
     - "release-**"
     - "track/**"
     paths-ignore:
     - "terraform/**"
   pull_request:
     branches:
     - "*"
     paths-ignore:
     - "terraform/**"

jobs:
  linting:
    name: Linting
    uses: canonical/identity-team/.github/workflows/_charm-linting.yaml@6b27807be4ec7c25045d52ef09ac780d684f65a2 # v1.10.0

  unit-test:
    name: Unit Tests
    uses: canonical/identity-team/.github/workflows/_charm-tests-unit.yaml@6b27807be4ec7c25045d52ef09ac780d684f65a2 # v1.10.0
    needs:
      - linting

  build:
    name: Build charm
    uses: canonical/identity-team/.github/workflows/_charm-build.yaml@6b27807be4ec7c25045d52ef09ac780d684f65a2 # v1.10.0
    with:
      use-charmcraftcache: false
    needs:
      - unit-test

  integration-test-k8s:
    name: Integration Tests (microk8s)
    runs-on: [self-hosted, amd64, large, jammy ]
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup operator environment (microk8s)
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.6/stable
          provider: microk8s
          channel: 1.32-strict/stable
          microk8s-addons: "dns hostpath-storage metallb:10.64.140.43-10.64.140.49"

      - name: Get charm info
        id: get-charm-info
        run: |
          echo charm-name=$(cat charmcraft.yaml | yq '.name') >> $GITHUB_OUTPUT

      - name: Set CHARM_PATH envvar
        run: echo "CHARM_PATH=${{ github.workspace }}/${{ needs.build.outputs.charm-paths }}" >> $GITHUB_ENV

      - name: Download charm artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: ${{ github.sha }}-build

      - name: Run integration tests
        run: tox -e integration -- --run-k8s --model testing

      - name: Get contexts
        if: failure()
        run: kubectl config view

      - name: Get juju status
        if: failure()
        run: juju status --relations

      - name: Dump logs
        if: failure()
        uses: canonical/charming-actions/dump-logs@main

      - name: Get juju logs for the charm
        if: ${{ failure() }}
        run: juju debug-log --replay --include ${{ steps.get-charm-info.outputs.charm-name }}/0

  integration-test-machine:
    name: Integration Tests (lxd)
    runs-on: [self-hosted, amd64, large, jammy]
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup operator environment (lxd)
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.6/stable
          provider: lxd
          channel: 5.21/stable

      - name: Get charm info
        id: get-charm-info
        run: |
          echo charm-name=$(cat charmcraft.yaml | yq '.name') >> $GITHUB_OUTPUT

      - name: Set CHARM_PATH envvar
        run: echo "CHARM_PATH=${{ github.workspace }}/${{ needs.build.outputs.charm-paths }}" >> $GITHUB_ENV

      - name: Download charm artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: ${{ github.sha }}-build

      - name: Run integration tests
        run: tox -e integration -- --run-machine --model testing

      - name: Get juju status
        if: failure()
        run: juju status --relations

      - name: Dump logs
        if: failure()
        uses: canonical/charming-actions/dump-logs@main

      - name: Get juju logs for the charm
        if: ${{ failure() }}
        run: juju debug-log --replay --include ${{ steps.get-charm-info.outputs.charm-name }}/0
